<nav class="navbar navbar-default" style="margin-bottom: 0px;
">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets\icon\logo payan.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span ></span> Contract Us</a></li>
        <li><a href="#"><span ></span> Security</a></li>
        <li><a href="#"><span ></span> Help</a></li>
        <li ><a href="#" style="bottom:8px;"><span></span>
              <img src="\assets\icon\Group 48.png" alt="">
            </a>
        </li>
        <li><a href="#"><span ></span><i class="material-icons">feedback</i></a></li>
        <li><a href="#"><span ></span><i class="glyphicon glyphicon-cog" id="icon"></i></a></li>
        <li><a href="#"><span></span> LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>