<div class="col-md-2">
  <p class="My">My wallet</p>
  <div class="total">
    <font>Total</font>
    <label class="price">≈ 1,331,326.56 THB</label>
  </div><hr>
  <a href="#">  
    <font>
      <img src="\assets\icon\ic_account_balance_wallet_24px.png" alt="">
      Manage wallet
    </font>
  </a>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" id="list">
      <a href="#">
          <img src="\assets\icon\ic_account_balance_24px.png" alt="">
          Main
      </a>
      
    </li>
    <li class="list-group-item" id="list">
      <a href="#">
          <img src="\assets\icon\ic_file.png" alt="">
          TopUp
      </a>

    </li>
    <li class="list-group-item" id="list">
      <a href="#">
          <img src="\assets\icon\ic_swap_vert_24px.png" alt="">
          Transfer
      </a>
      
    </li>
    <li class="list-group-item" id="list">
      <a href="#">
          <img src="\assets\icon\ic_file_download_24px.png" alt="">
          Withdraw
      </a>

    </li>
    <li class="list-group-item"id="list">
      <a href="#">
          <img src="\assets\icon\ic_thumb_up_24px.png" alt="">
          Request
      </a>
     
    </li>
    <li class="list-group-item"id="list">
      <a href="#">
          <img src="\assets\icon\ic_card_giftcard_24px.png" alt="">
          Gift
      </a>

    </li>
  </ul>
  <footer>
    <p>Privacy Policy</p>
    <p>Terms&Condition</p>
    <p>Copyright © 2017 Payan. All rights reserved.</p>
  </footer>
</div>
