.My{
    font-size: 16px;
    font-weight: 600px;
    margin-top: 25px;
}
.price{
    margin-left: 40px;
    font-size: 20px;
    font-weight: lighter;
}
.total{
    margin-top:25px;
    margin-bottom: 25px; 
    color: #8C8C8C;
    font-size: 20px;
    font-weight: lighter;
}
footer{
    margin-top: 90%;
    color:#8C8C8C;
}
.col-md-2{
    padding-left: 0px;
    padding-right: 0px;
    border-right:1px solid #F1F1F1
}
p,font{
    padding-left:15px;
}
a:link {
    text-decoration: none;
}
.list-group{
    a{
        color: #8C8C8C;
    }
   
}
.list-group-item{
    border: none;
}
li{
    padding-top: 16px;
    padding-bottom: 16px;
}
