<div class="col-md-2">
  <p class="mybank">My Bank accounts and Cards</p><br>
    <tbody>
      <tr>
        <a href="#">
          <td id="pic"><img src="\assets\icon\Group 9.png" alt="" id="visa"></td>
          <td id="td1" style="width:97px;">Visa x-7890</td>
        </a>
      </tr>
      <br>
      <tr>
          <a href="#">
            <td id="pic"><img src="assets\icon\mastercard-seeklogo.com.png" alt="" id="master"></td>
            <td id="td2" style="width:146px;"> Mastercard x-9876</td>
          </a>
      </tr>
    </tbody>
    <hr>
    <a href="">
      <p>
        <img src="\assets\icon\ic_highlight_off_24px.png" alt="">
       Add a new bank account or card
      </p>  
    </a>
    <hr>
  <p class="Ex">Exchange rates</p>
    <table>
      <tr>
          <td><input type="text" style="padding-left:5px;" value="1"></td>
        <div style="position:relative;  margin-left: 10px;">
          <tr>
             <img src="\assets\icon\united-states.png" alt="" style="position:absolute; top:7px; left:3px;">
             <select style="padding-left:40px; width: 140px;height: 36px;">
               <option value="">USB</option>
             </select>
          </tr>

        </div>
        
      </tr><br>
      <tr>
          <td><input type="text" style="padding-left:5px;" value="33.27"></td>
          <div style="position:relative; margin-left: 10px; ">
            <tr>
               <img src="\assets\icon\thailand.png" alt="" style="position:absolute; top:7px; left:3px;">
               <select style="padding-left:40px; width: 140px;height: 36px;">
                 <option>THB</option>
               </select>
            </tr>
  
          </div>
          
        </tr>
      
    </table>
    <hr>
    <a href="">
      <p>
        <img src="\assets\icon\ic_compare_arrows_24px.png" alt="">
        Currency converter
      </p>
    </a>
    <hr>


</div>

