<div class="col-md-8 abc" >
  <div class="row">
      <div align="center">
          <button class="btn btn-default">
              <p><img src="\assets\icon\ic.png" alt=""></p>
              <p>Transection</p>
            </button>
            <button class="btn btn-default">
              <p><img src="\assets\icon\ic_file.png" alt=""></p>
                <p>TopUp</p>
            </button>
            <button class="btn btn-default">
              <p><img src="\assets\icon\ic_swap_vert_24px.png" alt=""></p>
              <p>Transfer</p>
            </button>
            <button class="btn btn-default">
              <p><img src="\assets\icon\ic_file_download_24px.png" alt=""></p> 
              <p>Withdraw</p>
            </button>
            <button class="btn btn-default">
              <p><img src="\assets\icon\ic_thumb_up_24px.png" alt=""><p>
              <p>Request<p>
            </button>
            <button class="btn btn-default">
              
              <p><img src="\assets\icon\ic_card_giftcard_24px.png" alt=""><p>
              <p>Gift</p>
              
            </button>
            <div class="row space">
              <div class="col-md-6">
                 <div class="col-md-3">
                    <select style=" width: 114px;height: 36px;">
                      <option value="">ByDate</option>
                    </select>
                 </div>
                 <div class="col-md-3 leftinput">
                    <input type="text"> To
                 </div>
                 <div class="col-md-3 dateinput2">
                    <input type="text">
                 </div>
              </div>
              <div class="col-md-6 right">
                <button class="btn-type btn2">
                  <img src="\assets\icon\Group 41.png" alt="">
                  <br>Chart 
                </button>
                <button class="btn-type btn2">
                  <img src="\assets\icon\ic_reorder_24px.png" alt="">
                  <br>Simple
                </button>
                <button class="btn-type btn2">
                  <img src="\assets\icon\Group 42.png" alt="">
                  <br>Detailed         
                </button>   
              </div>
            </div>
        
      </div>
    </div>  
    <div class="row">
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="left">Date</th>
                <th>Name</th>
                <th>Type</th>
                <th>Net</th>
                <th>Currency</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>THB Wallet</td>
                <td>Transfer sent</td>
                <td>-500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>Visa x-7890</td>
                <td>TopUp</td>
                <td>+500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>THB Wallet</td>
                <td>Transfer sent</td>
                <td>-500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>Visa x-7890</td>
                <td>TopUp</td>
                <td>+500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>THB Wallet</td>
                <td>Transfer sent</td>
                <td>-500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>Visa x-7890</td>
                <td>TopUp</td>
                <td>+500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>THB Wallet</td>
                <td>Transfer sent</td>
                <td>-500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>Visa x-7890</td>
                <td>TopUp</td>
                <td>+500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>THB Wallet</td>
                <td>Transfer sent</td>
                <td>-500</td>
                <td>THB</td>
              </tr>
              <tr>
                <td class="left">8 AUG 2017</td>
                <td>Visa x-7890</td>
                <td>TopUp</td>
                <td>+500</td>
                <td>THB</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

