p{
    text-align: center;
}

.centerClass{
    align-content: center;
}
.btn-default{
    width: 112px;
    height: 70px;
    padding: 10px;
    background-image: none;
    background-color: #F1F1F1;
    border-color: #FAFAFA;
}
.btn-type{
    img{
        width:18px;
        height:14px;
    }
    border-style: none;
    margin: 10px;
    background-image: none;
    background-color: transparent;
    border-color:none;
}

.left{
    text-align: left;
}
.table-striped,th{
    text-align: center;
}
td{
    color: #8C8C8C;
    
}
.space{
    margin-top: 60px;
    
}
.col-md-6{
    padding: 0%;
    margin-top: 50px;
    input,select{
        padding-left: 5px;
    }
}
.right{
    padding-left:280px;
    margin-top: 32px;
    color: #8C8C8C;
    button{
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
.leftinput{
    width: 30%;

}
.col-md-3{
    padding-left: 0px;
    margin-right: -3px; 
}   
.dateinput2{
    padding-left: 0px;
}
.btn-default:hover, .btn-default:active{
    p{
        color: #5EA7DC;
    }
    border-color: #5EA8DC;
}
#type:hover, #type:active{
    color:#5EA8DC;
    border: none; 
}
span{
    color: #5FBE75;
}
#btn1{
    p{
        color: #5EA8DC;
    }
        border-color: #5EA7DC;
}
.to{
    top:7px;
    padding-left:0px;
    margin-right:-11px;
}
.but{
    margin-top:25px;
    p{
        color: #8C8C8C;
    }
   
}
.btn-default{
    margin-right: 15px;
}

tbody{
    td{
        border-top:none;
    } 
}
input,select{
    border: 1px solid #D5D5D5;
    border-radius: 3px
}
.table>thead>tr>th {
    border-top: 1px solid #F1F1F1;
    border-bottom: none;
}