<div class="col-md-8 abc" >
  <div class="container">
      <div class="row" style="padding-left:80px;padding-right:100px;">
          <div class="but" align="center">
              <button class="btn btn-default" id="btn1">
                  <p><img src="\assets\icon\ic.png" alt=""></p>
                  <p>Transection</p>
                </button>
                <button class="btn btn-default" id="btn">
                  <p><img src="\assets\icon\ic_file.png" alt=""></p>
                    <p>TopUp</p>
                </button>
                <button class="btn btn-default" id="btn">
                  <p><img src="\assets\icon\ic_swap_vert_24px.png" alt=""></p>
                  <p>Transfer</p>
                </button>
                <button class="btn btn-default" id="btn">
                  <p><img src="\assets\icon\ic_file_download_24px.png" alt=""></p> 
                  <p>Withdraw</p>
                </button>
                <button class="btn btn-default" id="btn">
                  <p><img src="\assets\icon\ic_thumb_up_24px.png" alt=""><p>
                  <p>Request<p>
                </button>
                <button class="btn btn-default" id="btn">
                  
                  <p><img src="\assets\icon\ic_card_giftcard_24px.png" alt=""><p>
                  <p>Gift</p>
                  
                </button>
               
                  <div class="col-md-6">
                     <div class="col-md-3">
                        <select style=" width: 114px;height: 36px;">
                          <option value="">ByDate</option>
                        </select>
                     </div>
                     <div class="col-md-3 leftinput">
                        <img src="\assets\icon\ic_insert_invitation_24px.png" alt="" style="position:absolute;left:79%;top:8px;">
                        <input type="text" id="datepicker"(click)="Onclick()"value=" 14/08/17">
                     </div>
                     <div class="col-md-1 to">To</div>
                     <div class="col-md-3 dateinput2" style="position:relative">
                        <input type="text" id="date"(click)="Onclick()" value=" 14/08/17">
                        <img src="\assets\icon\ic_insert_invitation_24px.png" alt="" style="position:absolute;left:95%;top:8px;">
                     </div>
                  </div>
                  <div class="col-md-6 right">
                    <button class="btn-type btn2" id="type">
                      <img src="\assets\icon\Group 42.png" alt="" >
                      <br>Chart 
                    </button>
                    <button class="btn-type btn2" id="type">
                      <img src="\assets\icon\ic_reorder_24px.png" alt="">
                      <br><span style="color:#5FA8DC;">Simple</span>
                    </button>
                    <button class="btn-type btn2" id="type">
                      <img src="\assets\icon\Group 41.png" alt="">
                      <br>Detailed         
                    </button>   
                  </div>
                
            
          </div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th class="left">Date</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Net</th>
                  <th>Currency</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>THB Wallet</td>
                  <td>Transfer sent</td>
                  <td>-500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>Visa x-7890</td>
                  <td>TopUp</td>
                  <td><span>+</span>500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>THB Wallet</td>
                  <td>Transfer sent</td>
                  <td>-500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>Visa x-7890</td>
                  <td>TopUp</td>
                  <td><span>+</span>500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>THB Wallet</td>
                  <td>Transfer sent</td>
                  <td>-500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>Visa x-7890</td>
                  <td>TopUp</td>
                  <td><span>+</span>500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>THB Wallet</td>
                  <td>Transfer sent</td>
                  <td>-500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>Visa x-7890</td>
                  <td>TopUp</td>
                  <td><span>+</span>500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>THB Wallet</td>
                  <td>Transfer sent</td>
                  <td>-500</td>
                  <td>THB</td>
                </tr>
                <tr>
                  <td class="left">8 AUG 2017</td>
                  <td>Visa x-7890</td>
                  <td>TopUp</td>
                  <td><span>+</span>500</td>
                  <td>THB</td>
                </tr>
              </tbody>
            </table>
      
          </div>
        </div>  
        

 
</div>

