<div class="col-md-6 abc" >
  <div align="center">
      <button class="btn btn-default">
          <p><img src="\assets\icon\ic.png" alt=""></p>
          <p>Transection</p>
        </button>
        <button class="btn btn-default">
          <p><img src="\assets\icon\ic_file.png" alt=""></p>
            <p>TopUp</p>
        </button>
        <button class="btn btn-default">
          <p><img src="\assets\icon\ic_swap_vert_24px.png" alt=""></p>
          <p>Transfer</p>
        </button>
        <button class="btn btn-default">
          <p><img src="\assets\icon\ic_file_download_24px.png" alt=""></p> 
          <p>Withdraw</p>
        </button>
        <button class="btn btn-default">
          <p><img src="\assets\icon\ic_thumb_up_24px.png" alt=""><p>
          <p>Request<p>
        </button>
        <button class="btn btn-default">
          
          <p><img src="\assets\icon\ic_card_giftcard_24px.png" alt=""><p>
          <p>Gift</p>
          
        </button>
  </div>
  
</div>

