p{
    text-align: center;
}
.abc{
    border-style: solid;
}
.centerClass{
    align-content: center;
}
.btn-default{
    width: 112px;
    height: 70px;
    padding: 10px;
    background-image: none;
    background-color: #F1F1F1;
    border-color: #FAFAFA;
}